streamlit
joblib
scikit-learn
spacy
pandas
matplotlib
seaborn
streamlit
joblib
scikit-learn
spacy==3.7.4
pandas
matplotlib
seaborn
numpy<2.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
